@font-face {
    font-family: "calibre";
    src: url("./calibre-semibold.otf") format("opentype");
}

@font-face {
    font-family: "firacode";
    src: url("./firacode-regular.ttf") format("opentype");
}
